In [1]:
from __future__ import division

import securities as st
from portfolio import *

import numpy as np
import pandas as pd

import ipywidgets as widgets
from IPython.display import display
from IPython.display import clear_output

import plotly.figure_factory as ff

In [2]:
myP = Portfolio('/Users/vincentroy/Documents/fipi2/data/fiDB.json')

Creating asset: IBM
Creating asset: Telus

In [3]:
myP.summary

,Asset ID,Purchase date,Purchase price,Volume,Acquisition,Adj Close,Market,Est Profit,% Est Profit,Annual Return
0,IBM,2012-01-01,156.5,1000,156500,148.9,148900,-7600.01,-4.86,-0.01
1,Telus,2016-01-01,34.8,1000,34800,44.35,44350,9550,27.44,0.12
0,Total,,,,191300,,193250,1949.99,,

In [5]:
myP.getAssetIdx('Telus')

1