In [1]:
from __future__ import division

import securities as st
from portfolio import *

import numpy as np
import pandas as pd

import ipywidgets as widgets
from IPython.display import display
from IPython.display import clear_output

import plotly.figure_factory as ff

In [2]:
myP = Portfolio('/Users/vincentroy/Documents/fipi/data/fiDB.json')

Creating asset: IBM
Creating asset: Telus
Creating asset: Apple

In [3]:
myP.summary

,Asset ID,Purchase date,Purchase price,Volume,Acquisition,Adj Close,Market,Est Profit,% Est Profit,Annual Return
0,IBM,2012-01-01,156.5,1000,156500,156.71,156710,210.01,0.13,0
1,Telus,2016-01-01,34.8,1000,34800,44.45,44450,9650,27.73,0.12
2,Apple,2009-12-01,30.2,1000,30200,174.73,174730,144530,478.58,0.3
0,Total,,,,221500,,375890,154390,,

In [4]:
myP.getAssetIdx('Telus')

1

In [5]:
myP.assets[1].perfMatrix.columns

Index([u'Open', u'High', u'Low', u'Close', u'Adj Close', u'Volume', u'Market',
       u'Est Profit', u'% Est Profit', u'RateReturn', u'Time Delta',
       u'% Return', u'Annual Return'],
      dtype='object')

In [6]:
myP.assets[1].perfMatrix

,Open,High,Low,Close,Adj Close,Volume,Market,Est Profit,% Est Profit,RateReturn,Time Delta,% Return,Annual Return
Date,,,,,,,,,,,,,
2016-01-04,37.94,38.23,37.44,37.98,34.42,1637300,34423.70,-376.31,-1.08,NaN,0.00,1.00,0.00
2016-01-05,37.89,38.37,37.61,38.15,34.58,1589500,34577.77,-222.23,-0.64,0.00,0.00,1.00,4.10
2016-01-06,37.95,38.11,37.62,37.70,34.17,1516100,34169.91,-630.09,-1.81,-0.01,0.01,0.99,-0.74
2016-01-07,37.30,37.85,37.16,37.72,34.19,1731800,34188.04,-611.96,-1.76,0.00,0.01,0.99,-0.57
2016-01-08,37.76,37.76,37.30,37.42,33.92,915700,33916.13,-883.87,-2.54,-0.01,0.01,0.99,-0.74
2016-01-11,37.46,37.76,37.35,37.40,33.90,958600,33898.00,-902.00,-2.59,-0.00,0.02,0.98,-0.55
2016-01-12,37.40,37.95,37.26,37.80,34.26,1231200,34260.54,-539.46,-1.55,0.01,0.02,1.00,-0.19
2016-01-13,37.88,37.88,37.06,37.10,33.63,1072300,33626.09,-1173.91,-3.37,-0.02,0.02,0.98,-0.61
2016-01-14,37.11,37.38,36.93,37.23,33.74,1218000,33743.92,-1056.08,-3.03,0.00,0.03,0.98,-0.52
2016-01-15,36.75,36.80,36.30,36.35,32.95,1939700,32946.32,-1853.68,-5.33,-0.02,0.03,0.96,-0.77
2016-01-18,36.00,36.75,36.00,36.35,32.95,740500,32946.32,-1853.68,-5.33,0.00,0.04,0.96,-0.68
2016-01-19,36.55,37.48,36.55,36.81,33.36,1223300,33363.25,-1436.75,-4.13,0.01,0.04,0.97,-0.53
2016-01-20,36.50,36.58,35.51,36.36,32.96,1620300,32955.39,-1844.61,-5.30,-0.01,0.04,0.96,-0.63
2016-01-21,36.21,36.93,36.06,36.79,33.35,1807000,33345.12,-1454.88,-4.18,0.01,0.05,0.97,-0.50
2016-01-22,37.22,37.64,36.95,37.53,34.02,1521700,34015.83,-784.17,-2.25,0.02,0.05,0.99,-0.21
2016-01-25,37.51,37.51,36.92,36.96,33.50,1163600,33499.20,-1300.80,-3.74,-0.02,0.06,0.97,-0.38
2016-01-26,37.18,37.98,37.06,37.64,34.12,3382200,34115.52,-684.48,-1.97,0.02,0.06,0.99,-0.14
2016-01-27,37.11,37.96,36.95,37.28,33.79,2213500,33789.23,-1010.77,-2.90,-0.01,0.06,0.98,-0.26
2016-01-28,37.62,38.75,37.38,38.61,34.99,1800200,34994.70,194.70,0.56,0.04,0.07,1.02,0.28
2016-01-29,38.79,39.44,38.63,38.97,35.32,2196500,35320.99,520.99,1.50,0.01,0.07,1.03,0.46
2016-02-01,38.90,39.30,38.55,38.96,35.31,1290600,35311.93,511.93,1.47,-0.00,0.08,1.03,0.39
2016-02-02,38.65,39.24,38.50,39.22,35.55,1714200,35547.58,747.58,2.15,0.01,0.08,1.03,0.50
2016-02-03,39.20,39.80,39.20,39.71,35.99,1501700,35991.70,1191.70,3.42,0.01,0.08,1.05,0.72
2016-02-04,39.73,40.22,39.56,40.02,36.27,1346100,36272.68,1472.68,4.23,0.01,0.08,1.05,0.85
2016-02-05,40.00,40.48,39.91,40.45,36.66,1076700,36662.41,1862.41,5.35,0.01,0.09,1.07,1.05
2016-02-08,40.07,40.56,39.93,40.16,36.40,1290100,36399.57,1599.57,4.60,-0.01,0.10,1.06,0.79
2016-02-09,39.78,40.18,39.34,39.67,35.96,1798700,35955.44,1155.44,3.32,-0.01,0.10,1.04,0.55
2016-02-10,39.55,40.20,39.55,39.84,36.11,1292300,36109.53,1309.53,3.76,0.00,0.10,1.05,0.60
2016-02-11,38.89,39.75,38.30,39.69,35.97,2443900,35973.57,1173.57,3.37,-0.00,0.10,1.05,0.53
2016-02-12,39.49,39.62,38.59,39.45,35.76,2318100,35756.05,956.05,2.75,-0.01,0.11,1.04,0.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-02,46.13,46.79,46.04,46.71,46.21,1351300,46210.35,11410.35,32.79,0.01,2.16,1.34,0.15
2018-03-05,46.55,47.23,46.45,46.98,46.48,1116400,46477.46,11677.46,33.56,0.01,2.17,1.35,0.15
2018-03-06,47.04,47.14,46.80,47.07,46.57,985500,46566.50,11766.50,33.81,0.00,2.17,1.35,0.15
2018-03-07,46.96,47.49,46.95,47.21,46.70,1199600,46705.00,11905.00,34.21,0.00,2.17,1.36,0.15
2018-03-08,46.79,46.92,46.63,46.70,46.70,790800,46700.00,11900.00,34.20,-0.00,2.18,1.36,0.15
2018-03-09,46.70,46.78,46.50,46.74,46.74,562500,46740.00,11940.00,34.31,0.00,2.18,1.36,0.15
2018-03-12,46.69,46.79,46.48,46.60,46.60,600800,46600.00,11800.00,33.91,-0.00,2.19,1.35,0.15
2018-03-13,46.61,46.83,46.53,46.58,46.58,595600,46580.00,11780.00,33.85,-0.00,2.19,1.35,0.15
2018-03-14,46.51,46.63,46.44,46.55,46.55,674600,46550.00,11750.00,33.76,-0.00,2.19,1.35,0.15
2018-03-15,46.56,47.17,46.48,46.87,46.87,965800,46870.00,12070.00,34.68,0.01,2.19,1.36,0.15
2018-03-16,46.91,47.23,46.38,46.50,46.50,3766600,46500.00,11700.00,33.62,-0.01,2.20,1.35,0.15
2018-03-19,46.32,46.45,46.01,46.19,46.19,781800,46190.00,11390.00,32.73,-0.01,2.21,1.34,0.14
2018-03-20,46.21,46.35,46.04,46.30,46.30,1018400,46300.00,11500.00,33.05,0.00,2.21,1.35,0.14
2018-03-21,46.26,46.37,45.84,45.88,45.88,682300,45880.00,11080.00,31.84,-0.01,2.21,1.33,0.14
2018-03-22,45.73,45.73,45.17,45.25,45.25,1166600,45250.00,10450.00,30.03,-0.01,2.21,1.31,0.13
2018-03-23,45.21,45.25,44.54,44.58,44.58,1061100,44580.00,9780.00,28.10,-0.01,2.22,1.30,0.12
2018-03-26,44.78,44.79,44.18,44.31,44.31,1534400,44310.00,9510.00,27.33,-0.01,2.22,1.29,0.12
2018-03-27,44.34,44.88,44.23,44.57,44.57,812400,44570.00,9770.00,28.07,0.01,2.23,1.29,0.12
2018-03-28,44.59,45.06,44.58,44.99,44.99,1098600,44990.00,10190.00,29.28,0.01,2.23,1.31,0.13
2018-03-29,44.98,45.33,44.78,45.24,45.24,1157800,45240.00,10440.00,30.00,0.01,2.23,1.31,0.13
2018-04-02,45.20,45.26,44.80,44.86,44.86,576800,44860.00,10060.00,28.91,-0.01,2.24,1.30,0.13
2018-04-03,44.86,44.87,44.33,44.42,44.42,735800,44420.00,9620.00,27.64,-0.01,2.25,1.29,0.12
2018-04-04,44.27,44.75,44.14,44.66,44.66,793100,44660.00,9860.00,28.33,0.01,2.25,1.30,0.12
2018-04-05,44.66,45.36,44.53,45.19,45.19,609300,45190.00,10390.00,29.86,0.01,2.25,1.31,0.13
2018-04-06,45.16,45.54,44.87,44.93,44.93,1041700,44930.00,10130.00,29.11,-0.01,2.25,1.31,0.13
2018-04-09,45.00,45.21,44.85,45.03,45.03,537600,45030.00,10230.00,29.40,0.00,2.26,1.31,0.13
2018-04-10,45.23,45.25,44.66,44.92,44.92,690500,44920.00,10120.00,29.08,-0.00,2.27,1.30,0.12
2018-04-11,44.72,45.13,44.65,44.96,44.96,664500,44960.00,10160.00,29.20,0.00,2.27,1.31,0.12
2018-04-12,44.95,45.15,44.52,44.56,44.56,858000,44560.00,9760.00,28.05,-0.01,2.27,1.29,0.12
2018-04-13,44.53,44.69,44.22,44.45,44.45,717400,44450.00,9650.00,27.73,-0.00,2.27,1.29,0.12